.env
/config/__pycache__
/library/__pycache__
/tools/__pycache__
*.pyc
docker-compose.yml
docker-compose.dev.yml
/data/db
docker-compose.local.yml
ARCHITECTURE.md
config/virtuoso/virtuoso.ini
/config/migrations
test_task_flow.ipynb
