sparql-llm==0.1.2
langchain==1.2.3
langchain-mistralai==1.1.1
langchain-ollama==1.0.1
langchain-openai==1.1.7
langgraph==1.0.10
langgraph-prebuilt==1.0.8
qdrant-client==1.16.2
fastembed==0.7.4
chainlit==2.9.5
openai==2.15.0
fastmcp==2.14.2
fastapi==0.121.1
ddgs==9.10.0
rdflib==7.1.4
pyparsing==3.2.0
langchain-community==0.4.1
langchain-core==1.2.7
shapely==2.1.2
starlette-context==0.5.1
debugpy==1.8.20
https://github.com/semantic-ai/decide-ai-service-base/releases/download/0.3.0/decide_ai_service_base-0.3.0-py3-none-any.whl
